.button{
    background-color: rgb(27, 145, 225);
    width: 100px;
    border-radius: 30px;

}
textarea{
    background-color: black;
}
input{
    border-radius:30px ;
}
small{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: grey;
}
.show_m{
    color: rgb(7, 103, 193);
    font-size: bold;
}
h3{
    font-size: bold;
}
.btn{
    background-color: white;
    border-radius: 10px;
    width: 150%;
    height: auto;
}
.trend_follow{
    padding-left: 20px;
}
.who_tofollow{
    font-size: bold;
}